@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&family=Chau+Philomene+One&display=swap');

:root{
    --cor-de-fundo: rgba(11, 71, 121, 0.671);
    --azul: #00C2FF;
    --azul-claro: #d6e1ff;
    --branco: #FFFFFF;
    --botao-ativo: #403D65;
    --botao-inativo:rgba(49, 58, 105, 0.5);
    --texto-fundo:rgba(49, 58, 105, 0.5);
    --verde: #6FFF57;

}

body{
    background-color: var(--cor-de-fundo);
    color: var(--azul-claro);
    font-family: "Chakra Petch", sans-serif;

}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.titulo-principal span{
    color: var(--azul);
}

.botao {
    font-family: "Crakra Petch", sans-serif;
    background-color: var(--botao-inativo);
    color: var(--branco);
    display: flex;
    justify-content: center;
    padding: 1em;
    font-size: 18px;
    align-items: center;
    width: 100%;
    border-bottom: 4px solid var(--botao-ativo);
    border-left: 2px solid var(--botao-ativo);
    border-right: 2px solid var(--botao-ativo);
    border-top: none;
}
.botoes {
    display:block;
}

.ativo{
    background-color: var(--botao-inativo);
    border-bottom: 4px solid var(--azul);
}
.abas-textos{
    background-color: var(--texto-fundo);
    padding: 40px;
    border-radius: 0 0 40px 40px;
}
.botao.ativo{
    background-color: var(--botao-ativo);
    border-bottom: 4px solid var(--azul);
}
.aba-conteudo.ativo{
    display: block;
}

.aba-conteudo{
    display: none;
}
.aba-conteudo-titulo-principal{
    font-size: 28px;
    text-align: center;
}
.aba-conteudo-titulo-secundario{
    text-align: center;
    color: var(--azul);
    text-transform: uppercase;
}

.contador{
    font-size: 20px;
    text-align: center;
}


@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }
}
.botao:first-child {
    border-radius: 40px 40px 0 0;
}
@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child {
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }
}







































































































